<?xml version="1.0" encoding="UTF-8"?>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes"/>
        <link rel="shortcut icon" type="image/x-icon" href="resources/images/favicon.ico"/>
        <link rel="shortcut icon" type="image/png" href="resources/images/favicon-16.png" sizes="16x16"/>
        <link rel="shortcut icon" type="image/png" href="resources/images/favicon-24.png" sizes="24x24"/>
        <link rel="shortcut icon" type="image/png" href="resources/images/favicon-32.png" sizes="32x32"/>
        <link rel="shortcut icon" type="image/png" href="resources/images/favicon-64.png" sizes="64x64"/>

        <title data-template="config:app-title"/>
        <meta name="description" content="Annotation Editing"/>
        <meta name="pb-template" content="annotate.html"/>

        <link rel="stylesheet" href="resources/css/theme.css"/>
        <link rel="stylesheet" href="templates/pages/annotate.css"/>
        <script type="module" src="pb-components-bundle.js" data-template="pages:load-components"></script>
        <script type="text/javascript" src="resources/scripts/annotations/annotations.js"></script>
    </head>

    <body>
        <pb-page data-template="pages:pb-page" unresolved="unresolved" require-language="require-language" locales="resources/i18n/{{ns}}/{{lng}}.json">
            <pb-document id="document1" data-template="pages:pb-document"/>
            <app-drawer-layout force-narrow="force-narrow">
                <app-drawer data-template="lib:include" data-template-path="templates/drawer.html"/>
                <app-header-layout>
                    <app-header slot="header" reveals="reveals" fixed="fixed" effects="waterfall">
                        <app-toolbar data-template="lib:include" data-template-path="templates/menu.html"/>
                        <app-toolbar data-template="lib:include" data-template-path="templates/toolbar.html"/>
                    </app-header>

                    <main>
                        <aside class="annotation-editor">
                            <button id="toggle-toolbar" style="margin-bottom: 1em;">Switch between Layout and Content</button>
                            <div class="toolbar" id="toolbar-layout">
                            <div style="margin-left: 1em">
                                    <span style="font-weight: bold">Layout</span> <span style="font-size:10pt"> (immer von außen nach innen taggen, danach abspeichern)</span>
                                </div>
                                <paper-icon-button class="annotation-action" data-i18n="[title]annotations.handShift" title="handShift" data-type="handShift" icon="icons:label-outline" disabled="disabled"/>
                                <paper-icon-button class="annotation-action" data-i18n="[title]annotations.head" title="Head" data-type="head" icon="icons:face" disabled="disabled"/>
                                <paper-icon-button class="annotation-action" data-i18n="[title]annotations.address" title="Address" data-type="address" icon="icons:home" disabled="disabled"/>
                                <paper-icon-button class="annotation-action" data-i18n="[title]annotations.opener" title="Opener" data-type="opener" icon="icons:flight-takeoff" disabled="disabled"/>
                                <paper-icon-button class="annotation-action" data-i18n="[title]annotations.salute" title="Salute" data-type="salute" icon="social:mood" data-shortcut="⌘+⇧+s,ctrl+⇧+s" disabled="disabled"/>
                                <paper-icon-button class="annotation-action" data-i18n="[title]annotations.dateline" title="Dateline" data-type="dateline" icon="icons:view-day" disabled="disabled"/>
                                <paper-icon-button class="annotation-action" data-i18n="[title]annotations.closer" title="Closer" data-type="closer" icon="icons:flight-land" disabled="disabled"/>
                                <paper-icon-button class="annotation-action" data-i18n="[title]annotations.signed" title="Signature" data-type="signed" icon="icons:gesture" disabled="disabled"/>
                                <paper-icon-button class="annotation-action" data-i18n="[title]annotations.postscript" title="PostScript" data-type="postscript" icon="icons:more-horiz" disabled="disabled"/>
                                <paper-icon-button class="annotation-action" data-i18n="[title]annotations.floatingText" title="floatingText" data-type="floatingText" icon="icons:receipt" disabled="disabled"/>
                            </div>
                            <div class="toolbar" id="toolbar-content" style="display: none;">
                            <div style="margin-left: 1em">
                                    <span style="font-weight: bold">Inhalt</span>
                                    <span style="font-size:10pt"> (immer von außen nach innen taggen)</span>
                                </div>
                                <!--paper-icon-button id="clear-all" icon="icons:refresh"></paper-icon-button-->
                                <paper-icon-button class="annotation-action authority" data-i18n="[title]annotations.person" title="Person" data-type="person" data-shortcut="⌘+⇧+p,ctrl+⇧+p" icon="social:person" disabled="disabled"/>
                                <paper-icon-button class="annotation-action authority" data-i18n="[title]annotations.organisation" title="organization" data-type="organization" data-shortcut="⌘+⇧+o,ctrl+⇧+o" icon="social:people" disabled="disabled"/>
                                <paper-icon-button class="annotation-action authority" data-i18n="[title]annotations.place" title="Place" data-type="place" icon="maps:place" data-shortcut="⌘+⇧+q,ctrl+⇧+q" disabled="disabled"/>
                                <paper-icon-button class="annotation-action" data-i18n="[title]annotations.date" title="Date" data-type="date" icon="icons:today" data-shortcut="⌘+⇧+d,ctrl+⇧+d" disabled="disabled"/>
                                <paper-icon-button class="annotation-action" data-i18n="[title]annotations.ref" title="Reference" data-type="ref" icon="icons:link" data-shortcut="⌘+⇧+l,ctrl+⇧+l" disabled="disabled"/>
                                <paper-icon-button class="annotation-action" data-i18n="[title]annotations.abbreviation" title="Abbreviation" data-type="abbreviation" icon="icons:translate" data-shortcut="⌘+⇧+b,ctrl+⇧+b" disabled="disabled"/>
                                <paper-icon-button class="annotation-action" title="Sic" data-type="sic" icon="editor:strikethrough-s" data-shortcut="⌘+⇧+e,ctrl+⇧+e" disabled="disabled"/>
                                <paper-icon-button class="annotation-action" data-i18n="[title]annotations.reg" title="Regularization" data-type="reg" icon="editor:wrap-text" data-shortcut="⌘+⇧+g,ctrl+⇧+g" disabled="disabled"/>
                                <paper-icon-button class="annotation-action" data-i18n="[title]annotations.app" title="Apparatus" data-type="app" icon="icons:visibility" data-shortcut="⌘+⇧+v,ctrl+⇧+v" disabled="disabled"/>
                                <paper-icon-button class="annotation-action" data-i18n="[title]annotations.hi" title="Highlight" data-type="hi" icon="image:wb-sunny" disabled="disabled"/>
                                <paper-icon-button class="annotation-action" data-i18n="[title]annotations.semibold" title="Semibold" data-type="semibold" icon="editor:format-bold" disabled="disabled"/>
                                <paper-icon-button class="annotation-action" data-i18n="[title]annotations.underline" title="Underline" data-type="underline" icon="editor:format-underlined" disabled="disabled"/>
                                <paper-icon-button class="annotation-action" data-i18n="[title]annotations.superscript" title="Superscript" data-type="superscript" icon="maps:terrain" isabled="disabled"/>
                                <paper-icon-button class="annotation-action" data-i18n="[title]annotations.latintype" title="Latintype" data-type="latintype" icon="editor:format-italic" disabled="disabled"/>
                                <paper-icon-button class="annotation-action" data-i18n="[title]annotations.emph" title="emph" data-type="emph" icon="icons:view-week" disabled="disabled"/>
                                <paper-icon-button class="annotation-action" data-i18n="[title]annotations.modify" title="Edit" data-type="edit" icon="editor:mode-edit" data-shortcut="⌘+⇧+m,ctrl+⇧+m" disabled="disabled"/>
                                <paper-icon-button class="annotation-action authority" data-i18n="[title]annotations.term" title="Term" data-type="term" icon="icons:bookmark" data-shortcut="⌘+⇧+t,ctrl+⇧+t" disabled="disabled"/>
                                <paper-icon-button class="annotation-action" data-i18n="[title]annotations.note" title="Note" data-type="note" icon="icons:note-add" data-shortcut="⌘+⇧+n,ctrl+⇧+n" disabled="disabled"/>
                                <paper-icon-button class="annotation-action" data-i18n="[title]annotations.del" title="Deletion" data-type="del" icon="editor:format-strikethrough" disabled="disabled"/>
                                <paper-icon-button class="annotation-action" data-i18n="[title]annotations.rs" title="ReferringString" data-type="rs" icon="icons:redo" disabled="disabled"/>
                                <paper-icon-button class="annotation-action" data-i18n="[title]annotations.add" title="Add" data-type="add" icon="icons:add-circle" disabled="disabled"/>
                                <paper-icon-button class="annotation-action" data-i18n="[title]annotations.supplied" title="Supplied" data-type="supplied" icon="icons:add-circle-outline" disabled="disabled"/>
                                <paper-icon-button class="annotation-action" data-i18n="[title]annotations.num" title="Number" data-type="num" icon="image:looks-3" disabled="disabled"/>
                                <paper-icon-button class="annotation-action" data-i18n="[title]annotations.seg" title="Seg" data-type="seg" icon="icons:explore" disabled="disabled"/>
                                <paper-icon-button id="ner-action" icon="social:group-add" data-i18n="[title]annotations.ner.title"/>
                            </div>
                            
                            <iron-form id="edit-form">
                                <form action="">
                                    <div class="annotation-form person organization place term">
                                        <paper-input class="form-ref" name="ref" data-i18n="[label]annotations.reference" label="Reference">
                                            <paper-icon-button slot="prefix" icon="search" data-i18n="[label]annotations.lookup"/>
                                        </paper-input>
                                        <div class="authority-info">
                                            <pb-i18n key="dialogs.loading">Loading ...</pb-i18n>
                                        </div>
                                    </div>
                                    <div class="annotation-form date">
                                        <paper-input name="when" label="when" type="date"/>
                                        <paper-input name="from" label="from" type="date"/>
                                        <paper-input name="to" label="to" type="date"/>
                                        <paper-input name="notBefore" label="notBefore" type="date"/>
                                        <paper-input name="notAfter" label="notAfter" type="date"/>
                                    </div>
                                    <div class="annotation-form hi">
                                        <p>Für weitere Auszeichnungen gedacht.</p>
                                        <paper-input name="rend" label="rend"/>
                                    </div>
                                    <div class="annotation-form latintype">
                                        <p>
                                            Latintype - Text wird kursiv angezeigt.
                                        </p>
                                    </div>
                                    <div class="annotation-form underline">
                                        <p>
                                            Underline - Text wird unterstrichen angezeigt.
                                        </p>
                                    </div>
                                    <div class="annotation-form semibold">
                                        <p>
                                            Semibold - Text wird halb-fett angezeigt (von Schriftart des Browsers abhängig).
                                        </p>
                                    </div>
                                    <div class="annotation-form superscript">
                                        <p>
                                            Superscript - Text wird hochgestellt angezeigt.
                                        </p>
                                    </div>
                                    <div class="annotation-form emph">
                                        <p>Wort wird gesperrt dargestellt.</p>
                                    </div>
                                    <div class="annotation-form ref">
                                        <paper-input name="target" label="target"/>
                                    </div>
                                    <div class="annotation-form abbreviation">
                                        <paper-input name="expan" data-i18n="[label]annotations.expansion" label="Expansion"/>
                                        <paper-input name="type" data-i18n="[label]annotations.type" label="Type"/>
                                    </div>
                                    <div class="annotation-form rs">
                                        <p>Indirekte Erwähnung - Mögliche types z.B.: person, place, org</p>
                                        <paper-input name="type" label="Type"/>
                                        <paper-input name="key" label="Key"/>
                                    </div>
                                    <div class="annotation-form add">
                                        <p>Originale Ergänzung. <br/> Attribut <i>hand</i> entweder mit "Autor" oder Namen des Ergänzenden füllen. <br/> <i>type</i> bei Bedarf mit "correction" benennen, falls die Ergänzung auf eine Durchstreichung folgt. <br /> <i>place</i>: margin-left, margin-right, below, bottom, above, top möglich. </p>
                                        <paper-input name="hand" label="Hand"/>
                                        <paper-input name="type" label="Type"/>
                                        <paper-input name="place" label="Place"/>
                                    </div>
                                    <div class="annotation-form supplied">
                                        <p>Ergänzung durch den Herausgeber!</p>
                                        <paper-input name="supplied" label="Supplied"/>
                                        <paper-input name="reason" label="Reason"/>
                                    </div>
                                    <div class="annotation-form handShift">
                                        <p>
                                            <b>Dieses Tag wird direkt vor das markierte Wort gesetzt</b>, da es leer ist. <br/>Scribe: Schreibername (bei Schreiberwechsel). Medium: Beschreibung der Tintenart oder -farbe. <br/> Diese Änderung wird nur im TEI angezeigt.</p>
                                        <paper-input name="scribe" label="Scribe"/>
                                    </div>
                                    <div class="annotation-form pb">
                                        <p>Dieses Tag dient dazu, die originale Seitennumerierung einzufügen. Die Facsimile-ID bitte <b>nicht</b> ändern.</p>
                                        <paper-input name="n" label="Pagenumber"/>
                                        <paper-input name="facs" label="Facsimile-ID"/>
                                    </div>
                                    <div class="annotation-form num" data-i18n="[label]annotations.num">
                                        <p>
                                            Ziffer, hier: im Original vorhandene Seitenzahl.
                                        </p>
                                        <paper-input name="note" label="Anmerkung"/>
                                    </div>
                                    <div class="annotation-form head">
                                        <p>
                                            Head - Überschrift <br/> Diese Änderung wird nur im TEI angezeigt.
                                        </p>
                                    </div>
                                    <div class="annotation-form opener">
                                        <p>
                                            Opener - Brieferöffnung. <br/> Diese Änderung wird nur im TEI angezeigt.
                                        </p>
                                    </div>
                                    <div class="annotation-form closer">
                                        <p>
                                            Closer - Briefschluss <br/> Diese Änderung wird nur im TEI angezeigt.
                                        </p>
                                    </div>
                                    <div class="annotation-form salute">
                                        <p>
                                            Salute - Gruß. <br/> Diese Änderung wird nur im TEI angezeigt.
                                        </p>
                                    </div>
                                    <div class="annotation-form address">
                                        <p>
                                            Adresse <br/> Diese Änderung wird nur im TEI angezeigt.
                                        </p>
                                    </div>
                                    <div class="annotation-form signed">
                                        <p>
                                            Signed - Unterschrift(en). <br/> Diese Änderung wird nur im TEI angezeigt.
                                        </p>
                                    </div>
                                    <div class="annotation-form postscript">
                                        <p>
                                            Postscript - PS. <br/> Diese Änderung wird nur im TEI angezeigt.
                                        </p>
                                    </div>
                                    <div class="annotation-form dateline">
                                        <p>
                                            Dateline - Umgibt die Zeilen, die das Datum (und z.B. auch Ort) enthalten. <br/> Diese Änderung wird nur im TEI angezeigt.
                                        </p>
                                    </div>
                                    <div class="annotation-form floatingText">
                                        <p>
                                            Der Zeilenfall wird in der Leseansicht beibehalten. <b>Nicht in einen Opener oder Closer setzen.</b> <br/> Diese Änderung wird nur im TEI angezeigt.
                                        </p>
                                    </div>
                                    <div class="annotation-form seg">
                                        <p>
                                            Dieses Element kann für unsicheres Tagging eingesetzt werden, wenn es später durch einen anderen Tag ausgetauscht werden soll. Diese Änderung wird nur im TEI angezeigt.
                                        </p>
                                    </div>
                                    <div class="annotation-form del">
                                        <p>
                                            Deletion - Durchstreichung durch den Original-Autor
                                        </p>
                                    </div>
                                    <div class="annotation-form edit">
                                        <p>
                                            <pb-i18n key="annotations.modify-info"/>
                                        </p>
                                        <paper-input name="content" data-i18n="[label]annotations.correction" label="Correction"/>
                                    </div>
                                    <pb-repeat class="annotation-form app" initial="1">
                                        <template>
                                            <paper-input name="wit" label="wit"/>
                                            <paper-input name="rdg" label="rdg"/>
                                        </template>
                                    </pb-repeat>
                                    <paper-input class="annotation-form sic" name="corr" data-i18n="[label]annotations.correction" label="Correction"/>
                                    <paper-input class="annotation-form note" name="note" data-i18n="[label]annotations.note" initial="1" label="Note"/>
                                    <paper-input class="annotation-form reg" name="reg" data-i18n="[label]annotations.reg" label="Regularization"/>
                                    <paper-icon-button id="form-save" icon="icons:save" data-i18n="[label]annotations.apply"/>
                                </form>
                            </iron-form>
                            <div id="occurrences">
                                <h4><div><pb-i18n key="annotations.occurrences">Occurrences in text</pb-i18n></div> <paper-icon-button id="mark-all" icon="icons:done-all" data-i18n="[label]annotations.apply-all" data-shortcut="⌘+option+a,ctrl+alt+a"></paper-icon-button></h4>
                                <ul></ul>
                            </div>
                        </aside>
                        <div class="text">
                            <pb-view id="title-view1" src="document1" xpath="//teiHeader/fileDesc/titleStmt/title" view="single">
                                <pb-param name="header" value="short"/>
                            </pb-view>
                            <pb-view-annotate id="view1" src="document1" odd="annotations"
                                append-footnotes="append-footnotes" suppress-highlight="suppress-highlight"
                                subscribe="transcription" emit="transcription">
                                <pb-param name="track-ids" value="yes"/>
                            </pb-view-annotate>
                        </div>
                        <aside class="preview">
                            <header>
                                <div class="toolbar">
                                    <paper-icon-button id="reload-all" icon="icons:restore" data-i18n="[title]annotations.reload"></paper-icon-button>
                                    <paper-icon-button id="document-save" icon="icons:save" data-i18n="[title]annotations.save" data-shortcut="⌘+⇧+s,ctrl+⇧+s"></paper-icon-button>
                                    <paper-icon-button id="document-download" icon="icons:cloud-download" data-i18n="[title]annotations.download" data-shortcut="⌘+⇧+d,ctrl+⇧+d"></paper-icon-button>
                                    <paper-icon-button id="undo-history" icon="icons:undo" data-i18n="[title]annotations.undo"></paper-icon-button>
                                    <paper-icon-button id="reload-preview" icon="icons:refresh" data-i18n="[title]annotations.preview"></paper-icon-button>
                                </div>
                                <pb-select-odd emit="preview"></pb-select-odd>
                            </header>
                            <pb-tabs>
                                <paper-tab slot="tab">Transkription</paper-tab>
                                <paper-tab slot="tab">Lesetext</paper-tab>
                                <paper-tab slot="tab">TEI</paper-tab>
                                <paper-tab slot="tab">Facsimile</paper-tab>
                                <paper-tab slot="tab"><pb-i18n key="annotations.changes">Changes</pb-i18n></paper-tab>
                                <iframe slot="page" id="html" src="about:blank"></iframe>
                                <pb-code-highlight slot="page" id="output" language="xml" theme="default"></pb-code-highlight>
                                // Add facsimile to view 
                                <pb-facsimile slot="page" id="facsimile" base-uri="http://localhost:8080/exist/apps/tei-publisher/playground/" type="image" show-navigation-control="show-navigation-control" show-home-control="" show-sequence-control="" />
                                // <pre slot="page" id="json"/>
                                <div slot="page" id="changes"></div>
                            </pb-tabs>
                        </aside>
                    </main>
                </app-header-layout>
            </app-drawer-layout>
            <paper-dialog id="authority-dialog">
                <paper-dialog-scrollable>
                    <pb-authority-lookup subscribe="transcription" emit="transcription">
                        <pb-authority connector="Custom" name="organization">
                            <pb-authority connector="GND" prefix="gnd"></pb-authority>
                        </pb-authority>
                        <!--pb-authority connector="GeoNames" name="place" user="existdb" prefix="geo"></pb-authority-->
                        <pb-authority connector="Custom" name="place">
                            <pb-authority connector="GeoNames" user="existdb" prefix="geo"></pb-authority>
                        </pb-authority>
                        <pb-authority connector="Custom" name="term">
                            <pb-authority connector="GND" prefix="gnd"></pb-authority>
                        </pb-authority>
                        <pb-authority connector="Custom" name="person">
                            <pb-authority connector="GND" prefix="gnd"></pb-authority>
                        </pb-authority>
                    </pb-authority-lookup>
                </paper-dialog-scrollable>
                <div class="buttons">
                    <paper-button dialog-confirm="dialog-confirm" autofocus="autofocus">
                        <pb-i18n key="dialogs.close">Close</pb-i18n>
                    </paper-button>
                </div>
            </paper-dialog>
            <paper-dialog id="ner-dialog">
                <paper-dialog-scrollable>
                    <h2><pb-i18n key="annotations.ner.title">Named Entity Extraction</pb-i18n></h2>
                    <p><pb-i18n key="annotations.ner.description">Try to automatically find named entities in the text and mark them as annotations.</pb-i18n></p>
                    <paper-dropdown-menu data-i18n="[label]annotations.ner.model" label="Select a model">
                        <paper-listbox slot="dropdown-content" selected="0"></paper-listbox>
                    </paper-dropdown-menu>
                    <!--p>OR</p>
                    <paper-checkbox>Use rule-based matching</paper-checkbox>
                    <paper-input id="lang" data-i18n="[label]ner.language"></paper-input-->
                </paper-dialog-scrollable>
                <div class="buttons">
                    <paper-button id="ner-run" dialog-confirm="dialog-confirm" autofocus="autofocus">
                        <pb-i18n key="annotations.ner.run">Find entities</pb-i18n>
                    </paper-button>
                    <paper-button dialog-confirm="dialog-confirm">
                        <pb-i18n key="dialogs.close">Close</pb-i18n>
                    </paper-button>
                </div>
            </paper-dialog>
            <pb-message id="restore-dialog" data-i18n="[title]annotations.confirm-restore-title;[message]annotations.restore"></pb-message>
            <pb-message id="confirm-reload-dialog" data-i18n="[title]annotations.confirm-reload-title;[message]annotations.confirm-reload"></pb-message>
            <pb-message id="permission-denied-dialog" data-i18n="[title]dialogs.error;[message]annotations.permission"></pb-message>
            <pb-message id="ner-denied-dialog" data-i18n="[title]dialogs.error;[message]annotations.ner.denied"></pb-message>
            <pb-message id="error-dialog" data-i18n="[title]dialogs.error;[message]dialogs.serverError"></pb-message>
            <pb-message id="runtime-error-dialog" data-i18n="[title]dialogs.error;[message]dialogs.serverError"></pb-message>
        </pb-page>
        <div class="splash"></div>
    </body>
</html>
