/* Annotation Customization inserted into annotations.odd */

/* When layout toggled, do not display the content annotations */
.view1-layout-line .annotation-abbr {display:none !important;}
.view1-layout-name .annotation.annotation-abbr::after {display:none !important;}
.view1-layout-line .annotation-sic {display:none !important;}
.view1-layout-name .annotation.annotation-sic::after {display:none !important;}
.view1-layout-line .annotation-person {display:none !important;}
.view1-layout-name .annotation.annotation-person::after {display:none !important;}
.view1-layout-line .annotation-hi {display:none !important;}
.view1-layout-name .annotation.annotation-hi::after {display:none !important;}
.view1-layout-line .annotation-del {display:none !important;}
.view1-layout-name .annotation.annotation-del::after {display:none !important;}
.view1-layout-line .annotation-place {display:none !important;}
.view1-layout-name .annotation.annotation-place::after {display:none !important;}
.view1-layout-line .annotation-date {display:none !important;}
.view1-layout-name .annotation.annotation-date::after {display:none !important;}
.view1-layout-line .annotation-term {display:none !important;}
.view1-layout-name .annotation.annotation-term::after {display:none !important;}
.view1-layout-line .annotation.annotation-app {display:none !important;}
.view1-layout-name .annotation.annotation-app::after {display:none !important;}
.view1-layout-line .annotation-latintype {display:none !important;}
.view1-layout-name .annotation.annotation-latintype::after {display:none !important;}
.view1-layout-line .annotation-organization {display:none !important;}
.view1-layout-name .annotation.annotation-organization::after {display:none !important;}
.view1-layout-line .annotation-ref {display:none !important;}
.view1-layout-name .annotation.annotation-ref::after {display:none !important;}
.view1-layout-line .annotation-reg {display:none !important;}
.view1-layout-name .annotation.annotation-reg::after {display:none !important;}
.view1-layout-line .annotation-rs {display:none !important;}
.view1-layout-name .annotation.annotation-rs::after {display:none !important;}
.view1-layout-line .annotation-supplied {display:none !important;}
.view1-layout-name .annotation.annotation-supplied::after {display:none !important;}

/* When content toggled, do not display the layout annotations */
.view1-content-line .annotation-closer {display:none !important}
.view1-content-name .annotation.annotation-closer::after {display:none !important}
.view1-content-line .annotation-handShift {display:none !important}
.view1-content-name .annotation.annotation-handShift::after {display:none !important}
.view1-content-line .annotation-head {display:none !important}
.view1-content-name .annotation.annotation-head::after {display:none !important}
.view1-content-line .annotation-salute {display:none !important}
.view1-content-name .annotation.annotation-salute::after {display:none !important}
.view1-content-line .annotation-address {display:none !important}
.view1-content-name .annotation.annotation-address::after {display:none !important}
.view1-content-line .annotation-postscript {display:none !important}
.view1-content-name .annotation.annotation-postscript::after {display:none !important}
.view1-content-line .annotation-opener {display:none !important}
.view1-content-name .annotation.annotation-opener::after {display:none !important}
.view1-content-line .annotation-signed {display:none !important}
.view1-content-name .annotation.annotation-signed::after {display:none !important}
.view1-content-line .annotation-dateline {display:none !important}
.view1-content-name .annotation.annotation-dateline::after {display:none !important}
.view1-content-line .annotation-floatingText {display:none !important}
.view1-content-name .annotation.annotation-floatingText::after {display:none !important}
.view1-content-line .annotation-seg {display:none !important}
.view1-content-name .annotation.annotation-seg::after {display:none !important}
